apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-0wvr
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-0wvr
    app.kubernetes.io/part-of: my-app
  name: devfile-sample-0wvr
  namespace: sbudhwar-1-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: devfile-sample-0wvr
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: devfile-sample-0wvr
    spec:
      containers:
      - image: quay.io/stonesoupuicluster/uidev-user-workload@sha256:b2409e9e154d2cba654bfebf441c609c15d9079737bf7e60049b37bed77d801b
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
